In [ ]:
lista = ["Se", "ba", "stian"]
for i in range(3):
  print(i,lista[i].upper(), sep=' ')

0 SE
1 BA
2 STIAN

In [ ]:
for (i,elem) in enumerate(lista):
  print(f'nr {i} -> {elem}')

nr 0 -> Se
nr 1 -> ba
nr 2 -> stian

Słownik

In [ ]:
slo = {}
slo[lista[0]] = 0
print(slo)

{'Se': 0}

**Lista składana List Comprehension**

In [ ]:
lista = ['Żytomir', 'Jadwiga', 'Kokosz']

lista_skladana = [elem.upper() for elem in lista]
print(lista_skladana)

['ŻYTOMIR', 'JADWIGA', 'KOKOSZ']

**Długość elementów listy**

In [ ]:
lista_skladana = [len(elem) for elem in lista]
print(lista_skladana)

[7, 7, 6]

Filtrowanie od jakiegoś ciągu znaku

In [ ]:
lista_skladana = [len(elem) for elem in lista if not elem.startswith('Koko')]
print(lista_skladana)

[7, 7]

**Liczby parzyste przefiltrowane** Standard Python Pep8

In [ ]:
[x**2 for x in range(10) if x%2 == 0]

[0, 4, 16, 36, 64]

Funkcja zip 1 element z 1 elementem, 2 element z 2 elementem, 3 element z 3 elementem

In [ ]:
list(zip(['a','b','c'], [1,2,3]))

[('a', 1), ('b', 2), ('c', 3)]

# **Słownik**

In [ ]:
dict(zip(['a','b','c'], [1,2,3]))

{'a': 1, 'b': 2, 'c': 3}

Dane listy na podstawie słownika z ponumerowanymi wartościami

In [ ]:
slo = {klucz: wartosc for klucz, wartosc in enumerate(lista)}
print(slo)

{0: 'Żytomir', 1: 'Jadwiga', 2: 'Kokosz'}

slo.keys(), slo.items(), slo.values() for k,w in slo.items():

In [ ]:
slo.values()
slo.keys()
slo.items()

dict_items([(0, 'Żytomir'), (1, 'Jadwiga'), (2, 'Kokosz')])

# FUNKCJE

In [ ]:
def gen_liste(liczba = 0, znak = 'a', ascii = 'False'):
  L = []
  L.append(liczba)
  if ascii:
    L.append(ord(znak))
  else:
    L.append('else')
  return L + L + L

gen_liste(ascii = 'True', znak = 'a')

[0, 97, 0, 97, 0, 97]

Sprawdzian
def list2slo(lista):
  return{x: elem for x in lista}

In [ ]:
slo = {
    'Mariola': ['Womit', 'Kokosz'],
    'Womit': [],
    'Kokosz': ['Womit']
}

def slo2list(slo):
    relations = []
    for klucz, wartosci in slo.items():
        for wartosc in wartosci:
            relations.append((klucz, wartosc))
    return relations

relacje = slo2list(slo)
print(relacje)

[('Mariola', 'Womit'), ('Mariola', 'Kokosz'), ('Kokosz', 'Womit')]

In [ ]:
lista = ['Janek', 'Mariola']
lista[3:8]
lista[0:8]
lista[:]

f = lambda slowo: slowo == slowo[::-1]
print(f)

x = {4,5}
lista2 = lista[3:5]
lista2 = lista
lista2[0] = 'cos'
print(lista)

<function <lambda> at 0x7c602889d360>
['cos', 'Mariola']

Umiemy robić wykresy i korzystać z typu tabelarycznego