In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("TestApp").master("yarn").config("spark.cores.max", "4").config("spark.sql.shuffle.partitions", "5").getOrCreate()

spark

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/11/30 22:13:37 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
23/11/30 22:13:38 WARN Client: Neither spark.yarn.jars nor spark.yarn.archive is set, falling back to uploading libraries under SPARK_HOME.

In [27]:
FILE_PATH = "/movies/ratings.csv"

rating_df = spark.read.csv(FILE_PATH, header=True, inferSchema=True)
rating_df.show()

+------+-------+------+---------+
|userId|movieId|rating|timestamp|
+------+-------+------+---------+
|     1|      1|   4.0|964982703|
|     1|      3|   4.0|964981247|
|     1|      6|   4.0|964982224|
|     1|     47|   5.0|964983815|
|     1|     50|   5.0|964982931|
|     1|     70|   3.0|964982400|
|     1|    101|   5.0|964980868|
|     1|    110|   4.0|964982176|
|     1|    151|   5.0|964984041|
|     1|    157|   5.0|964984100|
|     1|    163|   5.0|964983650|
|     1|    216|   5.0|964981208|
|     1|    223|   3.0|964980985|
|     1|    231|   5.0|964981179|
|     1|    235|   4.0|964980908|
|     1|    260|   5.0|964981680|
|     1|    296|   3.0|964982967|
|     1|    316|   3.0|964982310|
|     1|    333|   5.0|964981179|
|     1|    349|   4.0|964982563|
+------+-------+------+---------+
only showing top 20 rows

In [28]:
ratings.createOrReplaceTempView("ratings")

result = spark.sql(
    """
    SELECT movieId, ROUND(AVG(rating), 3) AS avgRating, COUNT(*) AS numberOfRatings 
    FROM ratings
    GROUP BY movieId
    ORDER BY numberOfRatings DESC
    """
)

# Wyświetlenie wyników
result.show()

+-------+---------+---------------+
|movieId|avgRating|numberOfRatings|
+-------+---------+---------------+
|    356|    4.164|            329|
|    318|    4.429|            317|
|    296|    4.197|            307|
|    593|    4.161|            279|
|   2571|    4.192|            278|
|    260|    4.231|            251|
|    480|     3.75|            238|
|    110|    4.032|            237|
|    589|    3.971|            224|
|    527|    4.225|            220|
|   2959|    4.273|            218|
|      1|    3.921|            215|
|   1196|    4.216|            211|
|   2858|    4.056|            204|
|     50|    4.238|            204|
|     47|    3.975|            203|
|    780|    3.446|            202|
|    150|    3.846|            201|
|   1198|    4.208|            200|
|   4993|    4.106|            198|
|   1210|    4.138|            196|
|    858|    4.289|            192|
|    457|    3.992|            190|
|    592|    3.429|            189|
|   2028|    4.146|            188|
|   5952|    4.021|            188|
|   7153|    4.119|            185|
|    588|    3.792|            183|
|    608|    4.116|            181|
|   2762|    3.894|            179|
|    380|    3.497|            178|
|     32|    3.983|            177|
|    364|    3.942|            172|
|   1270|    4.038|            171|
|    377|    3.529|            171|
|   3578|    3.938|            170|
|   4306|    3.868|            170|
|   1580|    3.488|            165|
|    590|    3.835|            164|
|    648|    3.537|            162|
|    344|     3.04|            161|
|   4226|    4.123|            159|
|    367|    3.185|            157|
|   6539|    3.779|            149|
|  58559|    4.238|            149|
|    595|    3.771|            146|
|   1214|    3.969|            146|
|   1036|    3.862|            145|
|    165|    3.556|            144|
|    500|    3.389|            144|
|   1265|    3.944|            143|
|  79132|    4.066|            143|
|   1197|    4.232|            142|
|   1704|    4.078|            141|
|   6377|    3.961|            141|
|   1291|    4.046|            140|
|    316|    3.375|            140|
|   1721|    3.414|            140|
|   2628|    3.107|            140|
|    153|    2.916|            137|
|   1136|    4.162|            136|
|    597|    3.485|            135|
|    293|    4.019|            133|
|    231|     3.06|            133|
|   3793|    3.699|            133|
|   1193|    4.203|            133|
|   4886|    3.871|            132|
|     10|    3.496|            132|
|   1240|    3.897|            131|
|   6874|    3.962|            131|
|   7361|     4.16|            131|
|   1089|    4.202|            131|
|   2329|    4.217|            129|
|   1221|     4.26|            129|
|     34|    3.652|            128|
|   1200|    3.964|            126|
|   1213|     4.25|            126|
|   8961|    3.836|            125|
|   1682|    3.812|            125|
|    541|    4.101|            124|
|    736|    3.321|            123|
|   4995|      4.0|            123|
|   5349|    3.541|            122|
|   1097|    3.766|            122|
|    733|     3.64|            121|
|   2683|    3.198|            121|
|   2716|    3.775|            120|
|   1206|    3.996|            120|
|   4973|    4.183|            120|
|   5445|    3.638|            120|
|   4963|    3.845|            119|
|   1073|    3.874|            119|
|  33794|    3.862|            116|
|    586|    2.996|            116|
|   1527|    3.746|            116|
|   5989|    3.922|            115|
|    587|    3.435|            115|
|    208|    2.913|            115|
|   1968|    3.779|            113|
|   5418|    3.817|            112|
+-------+---------+---------------+
only showing top 100 rows

In [40]:
FILE_PATH = "/movies/ratings.csv"
rating_df = spark.read.csv(FILE_PATH, header=True, inferSchema=True)

FILE_PATH_MOVIE = "/movies/movies.csv"
movies_df = spark.read.csv(FILE_PATH_MOVIE, header=True, inferSchema=True)



# Wyświetlenie wyników
# rating_df.show(20)

# Wyświetlenie wyników
# movies_df.show(20)


sql_query = """
    SELECT r.movieId AS ID_FILMU, m.title AS TYTUL_FILMU, ROUND(AVG(r.rating), 3) AS SREDNIA_OCENA, COUNT(r.rating) AS numberOfRatings
    FROM ratings r
    JOIN movies m ON r.movieId = m.movieId
    GROUP BY r.movieId, m.title
    ORDER BY numberOfRatings DESC
"""


result = spark.sql(sql_query)


result.show()

+--------+--------------------+-------------+---------------+
|ID_FILMU|         TYTUL_FILMU|SREDNIA_OCENA|numberOfRatings|
+--------+--------------------+-------------+---------------+
|     356| Forrest Gump (1994)|        4.164|            329|
|     318|Shawshank Redempt...|        4.429|            317|
|     296| Pulp Fiction (1994)|        4.197|            307|
|     593|Silence of the La...|        4.161|            279|
|    2571|  Matrix, The (1999)|        4.192|            278|
|     260|Star Wars: Episod...|        4.231|            251|
|     480|Jurassic Park (1993)|         3.75|            238|
|     110|   Braveheart (1995)|        4.032|            237|
|     589|Terminator 2: Jud...|        3.971|            224|
|     527|Schindler's List ...|        4.225|            220|
|    2959|   Fight Club (1999)|        4.273|            218|
|       1|    Toy Story (1995)|        3.921|            215|
|    1196|Star Wars: Episod...|        4.216|            211|
|      50|Usual Suspects, T...|        4.238|            204|
|    2858|American Beauty (...|        4.056|            204|
|      47|Seven (a.k.a. Se7...|        3.975|            203|
|     780|Independence Day ...|        3.446|            202|
|     150|    Apollo 13 (1995)|        3.846|            201|
|    1198|Raiders of the Lo...|        4.208|            200|
|    4993|Lord of the Rings...|        4.106|            198|
+--------+--------------------+-------------+---------------+
only showing top 20 rows